body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5.5rem;
}
.sticky{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
    box-shadow: 0px 0px 5px 0px lightgrey;
}
.header{
    padding: 10px 10rem;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    /* margin: 0px 10rem; */
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px lightgray solid;
    font-weight: 400;
}
.header > *{
    flex-shrink: 1;
}
.header-1{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.airbnb{
    color: rgb(255,56,92);
    font-size: 2rem;
    margin-left: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-1:hover{
    cursor: pointer;
}
.header-2{
    display: flex;
    gap: 0;
    border: 0.5px lightgray solid;
    box-shadow: 0px 0.3px 0.5px 0.3px lightgray;
    padding:5px 0px;
    border-radius: 50px;
    text-align: center;
}
.header-2-3{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    align-items: center;
}
.header-2 > *{
    padding: 5px 20px;
}
.header-2:hover{
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px lightgrey;
}
.header-3{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    /* padding-top: 5px; */
}
.header-3 > *{
    padding: 7px;
}
.any-week{
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}
.h3-1:hover{
    cursor: pointer;
    border-radius: 14px;
    background-color: rgb(242, 240, 240);
}
.globe:hover, .user:hover{
    border-radius: 50%;
    background-color: rgb(242, 240, 240);
    cursor: pointer;
}
.search , .globe ,.user{
    padding: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    flex-shrink: 0;
}

.search{
    margin-top: 0.1rem;
    margin-right: 15px;
    background-color: rgb(255,56,92);
    color: white;
}


/*//////////////////////*/



.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* width: max-content; */
}
.icons > *{
    flex-grow: 1;
}

.icon-content{
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    color: rgba(52, 56, 60, 0.775);
    font-weight: 600;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px white solid;
}
.icon-content img{
    width: 25px;
}

.icon-content:hover{
    color: black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

/*//////////////////////*/


.grid{
    margin-top: 3rem;
    display: grid;
    /* width: fit-content; */
    /* margin: auto; */
    /* justify-content: space-evenly; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.card{
    width: 20rem;
    border: none;
}
.card-img{
    position: relative;
}
.img{
    width: 20rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 14px;
}

.card-img svg{
    height: 1.5rem;
    width: 1.5rem;
    position:absolute;
    top: 0.5rem;
    left: 18rem;
    color: white;
    backdrop-filter: blur(2px); 
}

.card-img svg:hover{
    color: rgb(255,56,92);
    fill: rgb(255,56,92);
}

.card-content h5{
    margin-bottom: 2px;
    margin-top: 1rem;
}
.dist{
    color: rgb(85, 85, 81);
    font-weight: 400;
}

.rate{
    font-weight: 640;
}
.Rate{
    margin-top: 10px;
    margin-bottom: 20px;
}
.card-content{
    width: 320px;
    position: relative;
}
.card-content > span{
    position: absolute;
    top: 1rem;
    right: 0;
}




/* ///////////////////////// */

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.bottom-flex{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: space-between;
    padding: 1rem  5rem;
    width: 100%;
    height: max-content;
    background-color: rgb(255, 251, 251);
    gap: 5rem;
}
.flex-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.6rem;
    align-items: center;
    align-content: flex-end;
    font-weight: 380;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-2{
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    font-weight: 500;
}

.inner-flex{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dot{
    padding-bottom: 0.5rem;
}

.pointer:hover{
    cursor: pointer;
    text-decoration: solid underline 1px;
}





@media(min-width:950px) and (max-width:1300px)
{
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        /* flex-direction: row; */
        justify-items: space-around;
        align-content: center;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr;
    }
}


@media(max-width:600px)
{
    .grid{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
    }
    .h3-1 , .globe{
        display: none;
    }
    .flex-2{
        display: none;
    }
    .dot, .pointer{
        display: none;
    }
    .flex-1{
        justify-content: start;
    }
}

@media(min-width:600px) and (max-width:950px)
{
    .grid{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr;
    }
    .airbnb{
        display: none;
        visibility: hidden;
    }
    .flex-2{
        display: none;
    }
    .flex-1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .bottom-flex{
        padding: 0rem;
        width: 100%;
        justify-items: center;
    }
}

@media (max-width:740px) 
{
    .header-1{
        display: none;
    }   
}


@media (max-width:450px) 
{
    .header-3{
        display: none;
    }
}

